<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bus_notification"
        android:label="busmap"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.busmap"
        tools:targetApi="31">


        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyADEinajs4O3R5HpsFGLCVzStO8aAwAvKQ" />-->

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="GJoizF0wNmNFPLGIdtG9"/>
        <meta-data
            android:name="com.here.android.maps.apikey"
            android:value="AIzaSyADEinajs4O3R5HpsFGLCVzStO8aAwAvKQ"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyADEinajs4O3R5HpsFGLCVzStO8aAwAvKQ"/>


        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.Login"/>
        <activity android:name=".Main.RouteListActivity"/>
        <activity android:name=".Route.FindRoute.FindRouteActivity"/>
        <activity android:name=".Route.FindRoute.ResultFindRouteActivity"/>
        <activity android:name=".Route.FindRoute.InputFindActivity"/>
        <activity android:name=".Route.FindRoute.FindLocationOnMapActivity"/>
        <activity android:name=".Route.FindRoute.FindRouteDetailActivity"/>
        <activity android:name=".Route.RouteDetail.BusRouteActivity"/>
        <activity android:name=".User.Register"/>
        <activity android:name=".User.ProfileActivity"/>
        <activity android:name=".account.RatingActivity"/>
        <activity android:name=".account.infocompany"/>
        <activity android:name=".User.AccountActivity"/>
        <activity android:name=".User.EditAccountActivity"/>
        <activity android:name=".busstopnear.RadaBusActivity"/>
        <activity android:name=".Main.MainActivity"/>

    </application>

</manifest>